/* First Bootstrap Project */

/* font-family: "Chewy", system-ui; */


html, body {
	height: 100%;
	line-height: 4;
}


header.hero-section {
	background-image: url("images/bubble_hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10em 0em;
}

header.hero-section h1 {
	font-family: "Chewy", system-ui;
	font-size: 5em;
	color: white;
	text-shadow: black 2px 1px 3px;
}

header.hero-section p {
	color: white;
	font-size: 1.5em;
	text-shadow: black 2px 1px 3px;
	font-family: "Arial Black", sans-serif;
}

header.hero-section a, section.cta-section a {
	font-size: 1.2em;
	background-color: antiquewhite;
	color: black;
	border-color: limegreen;
	padding: 10px;
}

header.hero-section a:hover, section.cta-section a:hover {
	background-color: rgb(98, 0, 36);
	color: white;
	border-color: darkred;
}

section {
	padding-top: 2em;
	padding-bottom: 3em;
}

section#features h2 {
	margin-bottom: 1.5em;
}

div.card img {
	height: 260px;
}

div.card-body {
	background-image: radial-gradient(lightgray, slategray);
	line-height: 1;
}

section.cta-section {
	background-color: rgb(75, 75, 75);
	color: aqua;
}

footer {
	color: white;
	background-image: linear-gradient(rgb(75, 75, 75), black);
}

